body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1,
h2,
h3 {
  margin: 0;
}
#map-canvas {
  width: 100%;
  height: 100%;
}
.hidden {
  display: none;
}
#overlay {
  position: fixed;
  right: 5px;
  top: 25px;
  height: 90%;
  width: 33%;
}
#overlay .content {
  height: 98%;
  width: 100%;
  padding: 10px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #ddd;
  border-radius: 4px;
}
#overlay .content h2.ghost {
  color: #ccc;
  margin-top: 150px;
  text-align: center;
}
#overlay .content .action-close {
  position: absolute;
  right: 25px;
  top: 10px;
}
#overlay .content.scroll {
  overflow-y: scroll;
  padding-bottom: 0px;
}
#overlay .content.scroll p {
  margin-right: 25px;
}
#overlay .content ul.hashtags {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#overlay .content ul.hashtags li {
  cursor: pointer;
  font-size: 11px;
  border-radius: 2px;
  float: left;
  padding: 5px;
  margin: 3px;
  background-color: #ddd;
  border-color: #888;
}
#overlay .content ul.hashtags li.active {
  background-color: #888;
  border-color: #ddd;
  color: #efefef;
}
#overlay .content #tweets {
  clear: both;
  overflow: scroll;
  display: block;
  margin-right: 10px;
}
#overlay .content #tweets .tweet {
  clear: both;
  background-color: white;
  border-radius: 2px;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 0px 15px 15px 3px;
  position: relative;
}
#overlay .content #tweets .tweet a:link,
#overlay .content #tweets .tweet a:active,
#overlay .content #tweets .tweet a:visited {
  text-decoration: none;
}
#overlay .content #tweets .tweet a:hover {
  text-decoration: underline;
}
#overlay .content #tweets .tweet .user {
  display: block;
  margin-bottom: 5px;
}
#overlay .content #tweets .tweet .user img {
  width: 30px;
  float: left;
  margin-right: 5px;
}
#overlay .content #tweets .tweet .user h3,
#overlay .content #tweets .tweet .user h3 a {
  font-size: 13px;
  font-weight: bold;
  color: #222;
}
#overlay .content #tweets .tweet .user small,
#overlay .content #tweets .tweet .user small a {
  font-size: 11px;
  font-weight: normal;
  color: #999;
}
#overlay .content #tweets .tweet p.text {
  clear: both;
}
#overlay .content #tweets .tweet p.text a {
  color: #2e6795;
}
#overlay .content #tweets .tweet .date,
#overlay .content #tweets .tweet .date a {
  color: #ddd;
  font-size: 11px;
}
#overlay .content #tweets .tweet .actions {
  position: absolute;
  bottom: 0px;
  right: 10px;
}
#overlay .content #tweets .tweet .actions p {
  float: left;
  margin-left: 10px;
  font-size: 10px;
}
#overlay .content #tweets .tweet .actions p a:link,
#overlay .content #tweets .tweet .actions p a:active,
#overlay .content #tweets .tweet .actions p a:visited {
  color: #ddd;
}
#overlay .content #tweets .tweet .actions p a:hover {
  color: #3b88c3;
}
#overlay .content #tweets .tweet .actions i.glyph {
  background-image: url('/images/everything-spritev2.png');
  width: 16px;
  height: 16px;
  margin-right: 3px;
  display: inline;
  float: left;
  margin-top: -3px;
}
#overlay .content #tweets .tweet .actions i.glyph.retweet {
  background-position: -80px 0px;
}
#overlay .content #tweets .tweet .actions i.glyph.retweet:hover {
  background-position: -96px 0px;
}
#overlay .content #tweets .tweet .actions i.glyph.reply {
  background-position: 0px 0px;
}
#overlay .content #tweets .tweet .actions i.glyph.reply:hover {
  background-position: -16px 0px;
}
#overlay .content #tweets .tweet .actions i.glyph.favorite {
  background-position: -32px 0px;
}
#overlay .content #tweets .tweet .actions i.glyph.favorite:hover {
  background-position: -48px 0px;
}
#overlay .footer {
  position: absolute;
  bottom: -12px;
  background-color: #fff;
  width: 100%;
  margin-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}
#overlay .footer a {
  color: #3b88c3;
}
#github {
  left: -65px;
  height: 30px;
  top: 40px;
  position: fixed;
  text-decoration: none;
  width: 250px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#github span {
  background: black;
  color: white;
  font-size: 14px;
  left: 0;
  padding: 5px 0;
  position: absolute;
  text-align: center;
  width: 250px;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 10px;
  transition: opacity 0.5s;
}
#github span:last-child {
  background: #3995ff;
  opacity: 0;
}
#github span:hover:first-child {
  opacity: 0;
}
#github span:hover:last-child {
  opacity: 1;
}
